.header-container {
    width: 100%;
    height: 180px;
    background-color: #f7f7f7;
    border-bottom: solid rgba(0, 0, 0, 0.1) 2px;
    position: relative;

    .container-content {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        padding: 20px;

        img {
            max-width: 200px;
            margin-right: 30px;
        }

        .conteiner-input {
            width: 100%;
            position: relative;

            div {
                pointer-events: none;
                margin-top: 6px;
                margin-left: 6px;
                display: flex;
                position: absolute;
                color: rgba(0, 0, 0, 0.323);

                span {
                    margin-right: 10px;
                }

            }

            input {
                width: 70%;
                border-radius: 5px;
                border: none;
                outline: 0;
                padding: 10px;
            }

        }

        .shopping-content {
            position: relative;
            display: flex;

            span {
                cursor: pointer;
                color: red;
                margin-left: 20px;
            }

            div {
                top: -22px;
                left: 30px;
                position: absolute;
                background-color: red;
                padding: 2px;
                width: 20px;
                text-align: center;
                color: white;
                border-radius: 100%;
            }
        }

    }
}

.responsive-content {
    display: none;
    padding: 20px;
    overflow: hidden;

    .container-menu {
        border-bottom: solid #8abd23b5 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
            max-width: 170px;
            margin-bottom: 20px;
        }

        span {
            color: #8abd23de;
            font-size: 3rem;
        }
    }

    .container-content-responsive {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        transform: translateX(100%);
        transition: .3s ease-in-out;
        height: 100%;
        position: absolute;
        z-index: 99999999;
        left: -20px;
        width: 100%;
        background-color: #f7f7f7;
        font-size: 2rem;
        color: #8abd23b5;
        font-weight: 500;

        ul {
            list-style: none;

            li {
                margin: 20px 0px 20px 0px;
            }
        }

        a {
            color: #8abd23b5;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 970px) {

    .responsive-content {
        display: block;
    }

    .header-container {
        display: none;
    }
}