.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .conteiner-produtos:hover {
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.513) 1px 5px 10px 1px;
    }

    .conteiner-produtos {
        transition: 0.5s;
        border-radius: 10px;
        border: solid rgba(0, 0, 0, 0.116) 1px;
        color: white;
        text-decoration: none;
        align-items: center;
        margin: 10px;
        width: 280px;
        display: flex;
        flex-direction: column;


        img {
            border-radius: 10px;
            width: 70%;
            height: 140px;
            margin-bottom: 20px;
        }

        .texto {
            color: rgb(15, 148, 46);
            font-weight: 600;
        }

        .botao {
            text-align: center;
            width: 80%;
            border: rgba(0, 0, 0, 0.279) solid 1px;
            font-weight: 700;
            border-radius: 10px;
            margin: 20px 0px 20px 0px;
            background-color: rgba(49, 212, 87, 0.293);
            padding: 15px 0px 15px 0px;
            color: rgb(41, 113, 58);
            transition: 0.5s;
        }

        .botao:hover {
            background-color: rgba(49, 212, 87, 0.933);
            color: white;
            transition: 0.5s
        }
    }
}